div.container
  div.row
    div.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
      div.container
        div.navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
           span.sr-only Toggle navigation
           span.icon-bar
           span.icon-bar
           span.icon-bar
          a#goHome.navbar-brand(href="") specker(LOGO)
        div.navbar-collapse.collapse#navbar
          ul.nav.navbar-nav.navbar-right
            li
              a#goInfo(href="") 서핑
            li
              a#goFindTeam(href="") 팀찾기
            li
              a#toggle-sidebar 메세지
            li.dropdown
              a.dropdown-toggle(href="#" data-toggle="dropdown") 설정 
                b.caret
              ul.dropdown-menu
                li
                  a(href="#") Profile
                li
                  a(href="#") Message
                li
                  a(href="#addCard" data-toggle="modal") Upload
                li.divider
                li
                  a(href="/signOut") Log out
            li.dropdown
              a#dLabel(role='button', data-toggle='dropdown', data-target='#', href='/page.html')
                i.glyphicon.glyphicon-bell
              ul.dropdown-menu.notifications(role='menu', aria-labelledby='dLabel')
                .notification-heading
                  h4.menu-title Notifications
                  h4.menu-title.pull-right
                    | View all
                    i.glyphicon.glyphicon-circle-arrow-right
                li.divider
                .notifications-wrapper
                  a.content(href='#')
                    .notification-item
                      h4.item-title Evaluation Deadline 1 · day ago
                      p.item-info Marketing 101, Video Assignment
                  a.content(href='#')
                    .notification-item
                      h4.item-title Evaluation Deadline 1 · day ago
                      p.item-info Marketing 101, Video Assignment
                  a.content(href='#')
                    .notification-item
                      h4.item-title Evaluation Deadline 1 • day ago
                      p.item-info Marketing 101, Video Assignment
                  a.content(href='#')
                    .notification-item
                      h4.item-title Evaluation Deadline 1 • day ago
                      p.item-info Marketing 101, Video Assignment
                  a.content(href='#')
                    .notification-item
                      h4.item-title Evaluation Deadline 1 • day ago
                      p.item-info Marketing 101, Video Assignment
                  a.content(href='#')
                    .notification-item
                      h4.item-title Evaluation Deadline 1 • day ago
                      p.item-info Marketing 101, Video Assignment
                li.divider
                .notification-footer
                  h4.menu-title
                    | View all
                    i.glyphicon.glyphicon-circle-arrow-right


                  
