extends layout

block content
  div.top
    form.form-horizontal(method="post", id="loginForm")
      label Username
      input.span3(id="username", type="text", name="User", placeholder="Enter your username")
      label Password
      input.span3(id="password", type="password", name="Password")
      input.btn(type="submit", value="Log In")
  div.container
    div.content
      table.table.table-striped
        thead
          tr
            th Table
            th Heading
        tbody
          tr
            td Blah
            td Test
          tr
            td Hello
            td World

  div.footer
  </tr>
  <tr>
  <td class="no">8</td>
  <td class="title"><a href="board-o.php">세번째 테스트용 게시글 입니다.</a></td>
  <td class="author">관리자</td>
  <td class="date">2014-10-16</td>
  <td class="count">1</td>
  </tr>
  <tr>
  <td class="no">7</td>
  <td class="title">
  <a href="#">게시판 제목 테스트 입니다.</a>
  </td>
  <td class="author">관리자</td>
  <td class="date"><time datetime="2014-10-16 07:33">2014-10-16</time></td>
  <td class="count">1</td>
  </tr>
  <tr>
  <td class="no">6</td>
  <td class="title"><a href="#">게시판 제목 테스트 입니다. 테스트를 해봅시다.</a></td>
  <td class="author">관리자</td>
  <td class="date"><time datetime="2014-10-16 09:22">2014-10-16</time></td>
  <td class="count">1</td>
  </tr>
  <tr>
  <td class="no">5</td>
  <td class="title"><a href="board-o.php">세번째 테스트용 게시글 입니다.</a></td>
  <td class="author">관리자</td>
  <td class="date">2014-10-16</td>
  <td class="count">1</td>
  </tr>
  <tr>
  <td class="no">4</td>
  <td class="title"><a href="#">게시판 제목 테스트 입니다.</a></td>
  <td class="author">관리자</td>
  <td class="date"><time datetime="2014-10-16 07:33">2014-10-16</time></td>
  <td class="count">1</td>
  </tr>
  <tr>
  <td class="no">3</td>
  <td class="title"><a href="#">게시판 제목 테스트 입니다. 테스트를 해봅시다.</a></td>
  <td class="author">관리자</td>
  <td class="date"><time datetime="2014-10-16 09:22">2014-10-16</time></td>
  <td class="count">1</td>
  </tr>
  <tr>
  <td class="no">2</td>
  <td class="title"><a href="board-o.php">세번째 테스트용 게시글 입니다.</a></td>
  <td class="author">관리자</td>
  <td class="date"><time datetime="2014-10-16 12:33">2014-10-16</time></td>
  <td class="count">1</td>
  </tr>
  <tr>
  <td class="no">1</td>
  <td class="title"><a href="board-o.php">세번째 테스트용 게시글 입니다.</a></td>
  <td class="author">관리자</td>
  <td class="date"><time datetime="2014-10-16 11:11">2014-10-16</time></td>
  <td class="count">1</td>
  </tr>
  </tbody>
  </table>
  </div>
  <div class="board-page text-center">
  <ul class="pagination">
  <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li class=""><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
  </ul>
  </div>
  </div>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
  </html>
