extends ../layout

block css
  link(rel="stylesheet" type="text/css" href="../../loginForm/css/colors.css")
  link(rel="stylesheet" type="text/css" href="../../loginForm/css/foundation.min.css")
  link(rel="stylesheet" type="text/css" href="../../loginForm/css/main.css")
  link(rel="stylesheet" type="text/css" href="../../paper-draw-panel/css/drawer.css")
  link(rel="stylesheet" type="text/css" href="../../paper-draw-panel/css/sandbox.css")
  link(rel="stylesheet" type="text/css" href="/newsFeed/newsFeed.css")
  
  style.
    .col-lg-10{
      border-right:1px solid #f8f8f8;
    }
      
    
    
block scripts
  script(src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js")
  script(type="text/javascript" src="/newsFeed/newsFeed.js")
  script(type="text/javascript" src="../../iScroll/js/iScroll.js")
  script(type="text/javascript" src="../../paper-draw-panel/js/drawer.js")
  script(type="text/javascript" src="/socket.io/socket.io.js")
  //- script(type="text/javascript" src="../../RGInfiniteScroll/js/RGInfiniteScroll.js")
  //- script(type="text/javascript" src="../../infiniteScroll/js/jquery.infiniteScroll.js")
  //- script(type="text/javascript" src="../../infiniteScroll/js/debug.js")
  //- script(type="text/javascript" src="../../infiniteScroll/js/manual-trigger.js")
  
  script.
    $(document).ready(function(){
      $('.drawer').drawer({
      });
      var socket=io.connect();
      var messageForm=$('#messageForm');
      var message=$('#message');
      var chat=$('#chat');
      $('#messageForm').submit(function(e){
        e.preventDefault();
        socket.emit('send message',$('#message').val());
        $('#message').val('');
      })
      socket.on('new message', function(data){
        $('#chat').append('<div class="well">'+data.msg+'</div>')
      });
    });
    
block content
  include ../navbar.jade
  
